-f https://storage.googleapis.com/jax-releases/jax_releases.html
black==22.3.0
chex==0.1.3
equinox==0.5.0
ipykernel==6.13.1
jax==0.3.13
jaxlib==0.3.10+cuda11.cudnn82
optax==0.1.2
tensorflow==2.9.1
tensorflow-datasets==4.5.2
tqdm==4.64.0
